@import "tailwindcss";

@theme inline {
  --color-primary: #3B2285;
  --color-secondary: #E6F1FB;
  --color-neutral: #D9D9D9;
  --color-muted: #767575;
  --color-accent: #DBDFEF;

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-link: var(--font-link);
}

body {
  background: var(--color-secondary);
  color: var(--color-muted);
  font-family: var(--font-body);
}